name: Mirror to Codeberg

on: [push, delete]

jobs:
  codeberg:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Mirror to Codeberg
        uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url: https://${{ github.actor }}:${{ secrets.CODEBERG_TOKEN }}@codeberg.org/masaru-star/M-Island.git
